@font-face {
  font-family: 'Avenir Heavy';
  src: url('../fonts/AvenirNextLTW01-Heavy.eot');
  src: url('../fonts/AvenirNextLTW01-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextLTW01-Heavy.svg') format('svg'), url('../fonts/AvenirNextLTW01-Heavy.woff') format('woff'), url('../fonts/AvenirNextLTW01-Heavy.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Ultralight';
  src: url('../fonts/AvenirNextLTW01-UltraLi.eot');
  src: url('../fonts/AvenirNextLTW01-UltraLi.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextLTW01-UltraLi.svg') format('svg'), url('../fonts/AvenirNextLTW01-UltraLi.woff') format('woff'), url('../fonts/AvenirNextLTW01-UltraLi.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Regular';
  src: url('../fonts/AvenirNextW06Regular.eot');
  src: url('../fonts/AvenirNextW06Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextW06Regular.svg') format('svg'), url('../fonts/AvenirNextW06Regular.woff') format('woff'), url('../fonts/AvenirNextW06Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
