// MEDIAQUERIES


  // 2 COLUMNS

    @media only screen
    and (min-width: 640px)
    and (max-width: 959px) {
      body {
        width: 620px;
      }
      .map-container {
        width: 620px;

        &.asia-container {
          height: 580px;
        }
        &.africa-container {
          height: 680px;

          svg {
            width: 140%;
            position: relative;
            left: -170px;
            top: -00px;
          }
        }
        &.europe-container {
          height: 670px;

          svg {
            width: 140%;
            position: relative;
            left: -120px;
            top: -00px;
          }
        }
        
      }
    }

  // 1 COLUMN
    @media only screen
    and (max-width: 639px) {
      body {
        width: 300px;
      }
      .map-container {
        width: 300px;

        &.asia-container {
          height: 300px;
        }
        &.africa-container {
          height: 380px;

          svg {
            width: 130%;
            position: relative;
            left: -66px;
            top: 10px;
          }
        }
        &.europe-container {
          height: 300px;

          svg {
            width: 160%;
            position: relative;
            left: -80px;
            top: -00px;
          }
        }
      }
    }





    // iPhone (portrait and landscape)
    	@media only screen
    	and (min-device-width : 320px)
    	and (max-device-width : 480px) {
        .map-container {
          width: 300px;
          height: 50vh;
          padding-top: 0;

          .country {
            stroke: $wh-tr-6;
            stroke-width: 3px;

          }
        }
    	}
