// MEDIAQUERIES


  // 2 COLUMNS

    @media only screen
    and (min-width: 640px)
    and (max-width: 959px) {
      body {
        width: 620px;
      }
      .map-container {
        width: 620px;

        &.asia-container {
          height: 580px;

          svg {
            width: 140%;
            position: relative;
            left: -70px;
            top: 38px;
          }
        }
        &.africa-container {
          height: 680px;

          svg {
            width: 140%;
            position: relative;
            left: -170px;
            top: -00px;
          }
        }
        &.europe-container {
          height: 670px;

          svg {
            width: 140%;
            position: relative;
            left: -120px;
            top: 0px;
          }
        }
      }
      .box {
        width: 620px;
        height: 600px;

        a.boxclose {
          right: calc(50% - 307px);
        }
      }
    }

  // 1 COLUMN
    @media only screen
    and (max-width: 639px) {
      body {
        width: 300px;
      }
      .map-container {
        width: 300px;

        &.asia-container {
          height: 340px;

          svg {
            width: 120%;
            position: relative;
            left: 0;
            top: 40px;
          }
        }
        &.africa-container {
          height: 380px;

          svg {
            width: 120%;
            position: relative;
            left: -52px;
            top: 30px;
          }
        }
        &.europe-container {
          height: 300px;

          svg {
            width: 160%;
            position: relative;
            left: -80px;
            top: -00px;
          }
        }
      }
      .box {
        width: 300px;
        height: 280px;
        font-size: .8em;

        a.boxclose {
          right: calc(50% - 147px);
        }
        h1 {
          font-size: 1.4em;
        }
        h2 {
          font-size: 1.1em;
          line-height: 1.3;
        }
        p {
          padding: .5rem 1rem 2rem 3rem;
          font-size: inherit;
          line-height: 1.3;

          &:after {
            width: 2rem;
            height: 2rem;
            top: .6rem
          }
        }
      }
    }





    // iPhone (portrait and landscape)
    	@media only screen
    	and (min-device-width : 320px)
    	and (max-device-width : 480px) {
        .map-container {
          width: 300px;
          height: 50vh;
          padding-top: 0;

          .country {
            stroke: $wh-tr-6;
            stroke-width: 3px;

          }
        }
    	}
