/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url("../fonts/AvenirNextLTW01-Heavy.eot");
  src: url("../fonts/AvenirNextLTW01-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTW01-Heavy.svg") format("svg"), url("../fonts/AvenirNextLTW01-Heavy.woff") format("woff"), url("../fonts/AvenirNextLTW01-Heavy.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Ultralight';
  src: url("../fonts/AvenirNextLTW01-UltraLi.eot");
  src: url("../fonts/AvenirNextLTW01-UltraLi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTW01-UltraLi.svg") format("svg"), url("../fonts/AvenirNextLTW01-UltraLi.woff") format("woff"), url("../fonts/AvenirNextLTW01-UltraLi.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Regular';
  src: url("../fonts/AvenirNextW06Regular.eot");
  src: url("../fonts/AvenirNextW06Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextW06Regular.svg") format("svg"), url("../fonts/AvenirNextW06Regular.woff") format("woff"), url("../fonts/AvenirNextW06Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font: 16px/1.4 "Open Sans", Arial, Helvetica, sans-serif;
  position: relative;
  display: block;
  margin: auto;
  width: 980px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

.map-container {
  width: 980px;
  margin: auto;
  position: relative;
  background: -webkit-linear-gradient(rgba(51, 51, 51, 0.2) 0%, rgba(51, 51, 51, 0.1) 100%);
  background: linear-gradient(rgba(51, 51, 51, 0.2) 0%, rgba(51, 51, 51, 0.1) 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  overflow: hidden;
}

.map-container svg {
  width: 100%;
  margin: auto;
}

.map-container:after {
  display: block;
  width: 100%;
  padding: .1em;
  font-size: 1.3em;
  text-align: center;
  background: #033;
  color: white;
  font-family: 'Avenir Heavy', sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 0;
}

.map-container.asia-container {
  height: 870px;
}

.map-container.asia-container:after {
  content: 'Asia, Australasia';
}

.map-container.africa-container {
  height: 960px;
}

.map-container.africa-container:after {
  content: 'Africa';
}

.map-container.europe-container {
  height: 760px;
}

.map-container.europe-container:after {
  content: 'Europe';
}

.map-container.test-container {
  height: 500px;
}

.map-container.test-container:after {
  content: 'TESTING';
}

.country {
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  fill: #699;
  stroke: white;
  stroke-width: 1px;
  cursor: pointer;
  position: relative;
}

.country:hover {
  fill: #033;
}

#text {
  margin: 50px auto;
  width: 500px;
}

.overlay {
  background: rgba(51, 51, 51, 0.6);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.box {
  position: fixed;
  top: -600px;
  padding: 3rem 1rem 0;
  background-color: transparent;
  color: #666;
  z-index: 101;
  width: 980px;
  height: 480px;
  overflow: scroll;
}

.box a.boxclose {
  width: 1.6rem;
  height: 1.6rem;
  color: #033;
  background: url(../img/x.svg) 50% no-repeat #366;
  background-size: 80%;
  margin-top: -1rem;
  margin-left: 0rem;
  cursor: pointer;
  display: block;
  position: fixed;
  right: calc(50% - 490px);
  z-index: 103;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0 0 0.5rem white;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.box a.boxclose:hover {
  background-color: #c00;
  box-shadow: 0 0 2rem white;
}

.box h1 {
  padding: 0.3rem 1rem;
  background: #366;
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: 'Avenir Heavy', 'Open Sans', sans-serif;
  top: 0rem;
  width: calc(980px-2rem);
}

.box h2 {
  padding: 0.25rem 1rem 0.1rem;
  background: #f2f2f2;
  color: #666;
  font-size: 1.2rem;
  font-family: 'Avenir Heavy', 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.box p {
  padding: 0.5rem 1rem 1rem 6rem;
  font-size: .9rem;
  position: relative;
  min-height: 5.6rem;
  background: white;
}

.box p:after {
  display: block;
  width: 5rem;
  height: 5rem;
  content: '';
  background-image: url(../img/avatar.svg);
  background-color: rgba(51, 51, 51, 0.1);
  background-size: 120%;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: .3rem;
  left: .3rem;
}

.box p b {
  font-weight: 800;
}

@media only screen and (min-width: 640px) and (max-width: 959px) {
  body {
    width: 620px;
  }
  .map-container {
    width: 620px;
  }
  .map-container.asia-container {
    height: 580px;
  }
  .map-container.africa-container {
    height: 680px;
  }
  .map-container.africa-container svg {
    width: 140%;
    position: relative;
    left: -170px;
    top: 0px;
  }
  .map-container.europe-container {
    height: 670px;
  }
  .map-container.europe-container svg {
    width: 140%;
    position: relative;
    left: -120px;
    top: 0px;
  }
}

@media only screen and (max-width: 639px) {
  body {
    width: 300px;
  }
  .map-container {
    width: 300px;
  }
  .map-container.asia-container {
    height: 300px;
  }
  .map-container.africa-container {
    height: 380px;
  }
  .map-container.africa-container svg {
    width: 130%;
    position: relative;
    left: -66px;
    top: 10px;
  }
  .map-container.europe-container {
    height: 300px;
  }
  .map-container.europe-container svg {
    width: 160%;
    position: relative;
    left: -80px;
    top: 0px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .map-container {
    width: 300px;
    height: 50vh;
    padding-top: 0;
  }
  .map-container .country {
    stroke: rgba(255, 255, 255, 0.6);
    stroke-width: 3px;
  }
}
